.titulo-compras{
    text-align: center;
}
.ion-page{
    position: relative;
}
.cuerpo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}