<ion-menu contentId="main-content">
  <ion-content class="menu">
    <ion-title><h1>Menú</h1></ion-title>
    <ion-list lines="inset">
      <ion-item (click)="redirectToTab1WithTabs('tab1-with-tabs')">
        <ion-icon name="home"></ion-icon>
        <ion-label>Menú</ion-label>
      </ion-item>
      <ion-item (click)="redirectToCompras('tabCompra')">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Carrito de compras</ion-label>
      </ion-item>
      <ion-item (click)="toArduino('tab-arduino')">
        <ion-icon name="logo-electron"></ion-icon>
        <ion-label>Arduino</ion-label>
      </ion-item>
      <ion-item (click)="toLogin('tabLogin')">
        <ion-icon name="power"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content [fullscreen]="true">
  
</ion-content>
