.card{
    width:40%;
    background-color: #13315C;
    transition: all 0.3s ease;
}
.card:active{
    width: 42%;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenido{
    background-color:#EEF4ED;
    color:#134074;
}
.titulo{
    width: 100%;
    text-align: center;
}.ion-page{
    width: 0;
    height: 0;
  }
